export default {  
    BOB_PUBLIC_KEY: 'yyy',
    BOB_SECRET_KEY: 'xxxx',

    CREATOR_PUBLIC_KEY: 'yyy',

    ALICE_PUBLIC_KEY: 'yyy',
    ALICE_SECRET_KEY: 'xxxx',

    NFT_MINT: 'yyy',
    PROGRAM_ID: '4cibLYTAbAxpszLU173SAi69x3yo55fy4pn3jxvnTvv4',
}


